@import "tailwindcss";

@theme {
  --color-party-pink: #ff007f;
  --color-party-purple: #7a00ff;
  --color-party-yellow: #facc15;
}

/* Glassmorphism Effekt */
.glass-ui {
  background: rgba(5, 5, 5, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* Verhindert Scrollen wenn Header offen ist */
body:has(header.h-screen) {
  overflow: hidden;
}

/* Custom Cubic Bezier für App-Feeling */
.cubic-bezier {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}